.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-top: 1px solid #E0E7ED;
    padding: 10px;
    background-color: white;
    cursor:pointer;
}
.container:last-child{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}
.container:hover{
    background-color: rgba(241, 252, 255, 1);
}

.prop {
    position: relative;
    padding: 5px;
}
.linkedProp {
    font-weight:600;
    padding: 5px 20px 5px 5px;
    text-decoration: none;
}
.linkedProp:hover {
    text-decoration: underline;
}
.star{
    position:absolute;
    left: -20px;
    top: 2px;
    height: 25px;
    width: 25px;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
.star:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}