.container {
    display: grid;
    grid-template-columns: 4fr 3fr 3fr 2fr;
    border-top: 1px solid #E0E7ED;
    padding: 10px;
    cursor:pointer;
}
.bookmarkAdd{
    width: 15px;
    margin-left: 7px;
    &.active{
        svg {
            fill: blue;
        }
    }
   
    svg{
        cursor:pointer;
        transition: all 0.2s;
        &:hover{
            transform: scale(120%)
        }
    }
}
.container:hover{
    background-color: rgb(237, 238, 240);
    color:#101113;
}

.prop {
    position: relative;
    padding: 5px;
}
.linkedProp {
    padding: 5px 20px 5px 5px;
    text-decoration: none;
    display: flex;

    &:hover{
        text-decoration: underline;
        cursor:pointer;}
}
.star{
    position:absolute;
    left: -20px;
    top: 2px;
    height: 25px;
    width: 25px;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
.star:hover {
    transform: rotate(360deg);
}