.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 2px solid rgba(149, 150, 151, 0.5);
    border-radius: 3px;
    margin: 10px;
    background-color: white;
    cursor:pointer;
}
.container:hover{
    border: 2px solid rgba(149, 150, 151, 1);
}
.header {
    margin-left: 10px;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.prop {
    position: relative;
    padding: 5px;
}
.linkedProp {
    color: rgba(33, 150, 243, 1);
    text-decoration: none;
}
.linkedProp:hover {
    font-weight: bold;
}
.star{
    position:absolute;
    left: -20px;
    top: 2px;
    height: 25px;
    width: 25px;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
.star:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}