.popupContainer{
    padding: 3px 10px;
    display: flex;
    align-items: center;
    
}
.popupLink{
    padding-left: 8px;
}
.avatarThumbnail{
    border-radius: 50%;
    width: 20px;
    height: 20px;
}
.popup{
    margin-top: 5px;
    position:absolute;
    box-shadow: rgba(0, 0, 0,  0.27) 14px 12px 9px;
}

