.header {
    margin-left: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}
.loaderContainer{
    height:480px;
    max-height: 80vh;
}

.table{
    margin-top: 10px;
    border: 1px solid #bbced3;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}
