.header {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 4fr 3fr 3fr 2fr;
   border-radius: 12px;
}
.header :nth-child(2){
    margin-left: -20px;
}
.loaderContainer{
    height:480px;
    max-height: 80vh;
}

.table{
    margin-top: 10px;
    border: 1px solid #bbced3;
    // border-radius: 16px;
    display: flex;
    flex-direction: column;
}
