.header {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 4fr 3fr 3fr 2fr;
   border-radius: 12px;
   h3{
    display: flex;
    flex-direction: row;
    gap: 5px;
    .svgContainer {
        width: 20px;
        height: 20px;
        // svg{
        //     // 
        // }
        &.active{
            svg{
                filter: invert(47%) sepia(72%) saturate(5938%) hue-rotate(230deg) brightness(106%) contrast(101%);
            }
            
        }
    }

   }
   @media (max-width: 650px) {
    grid-template-columns: 4fr 3fr 2fr;
}
}
.header :nth-child(2){
    margin-left: -20px;
}
.loaderContainer{
    height:480px;
}

.table{
    border-radius: 10px;
    background-color: white;
    border: 1px solid #bbced3;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    .header {
         &.updated{
            @media (max-width: 650px) {
                display:none
            }
         }
    }
    
}
.cardsWrapper{
    height:90%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
     @media (max-width: 650px) {
        .prop {
            &.updated{
                display:none
            }
        }
        
    }
    .container{
        &:last-child{
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }
        @media (max-width: 650px) {
            grid-template-columns: 4fr 3fr 2fr;
        }
    }
    
}
.headerWrapper{
    margin-top: -40px;
    height:55px;
    background-color: transparent !important;
    display: flex;
    align-items: center;
    @media (max-width: 650px) {
        position:absolute;
        width: 50%;
        top: 41px;
        margin-left: 10%;
        h2{
            display: inline-block;
            margin: 0 auto;
        }
        
    }

}
.remove{
    border: none;
    cursor: pointer;
  border-radius: 7px;
  font-size: 28px;
  width: 50px;
    &:hover{
        color: rgb(231, 130, 147) !important;
      }
   
}
