.searchBar {
    display:flex;
    justify-content: center;
    width: 700px;
    margin:20px auto 0;
}
.input{
    font-size: large;
    width:400px;
    height:45px;
    margin-right: 5px;
    box-shadow: 0 0 4px rgba(20, 155, 223, 0.3);
    border-radius: 5px;
}
.input:hover{
    box-shadow: 0 0 4px rgba(20, 155, 223, 1);
}
.button{
    cursor: pointer;
    font-size: large;
    box-shadow: 0 0 4px rgba(20, 155, 223, 1);
    margin-right: 5px;
}