.errorButton{
    border: 1px solid black;
    border-radius: 12px;
    padding: 6px;
    margin: 15px !important;
    width:180px;
    margin: auto;
    font-size: 16px;
   
}
.pageButton:hover{

    box-shadow: 0 0 5px rgba(33, 150, 243, 1);;
}


.notFoundContainer div {
    font-size: 40px;
    padding: 25px;
}