.bookmarkContainer{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-bottom: 20px;
}

.emptyBookmarks{
    font-size: 25px;
    font-weight: bold;
    margin: 30px auto;
    display:flex;
    justify-content: center;
    .bookmarkAdd{
        margin-top: -10px;
        width: 50px;
        margin-left: 7px;
    }
}
.dark{
    .emptyBookmarks{
        .bookmarkAdd{
            svg{
                fill: white;
            }
           
        }
    }
}