@import './scss/variables.scss';
.appContainer {
    margin:auto;
    border: 1px solid #bbced3;
    padding: 20px;
    // height:100%;
    // width: 100%;
    background-color: #fff;
    border-radius: 12px;
   
}

