@import './scss/variables.scss';
.appContainer {
    margin:auto;
    height:100%;
    box-sizing: border-box;
    padding: 25px;
    min-height: 100vh;
}

.light{
    div{
        color:black;
    }
        .appContainer{
            background-color: rgb(237, 238, 240);
            .profileContainer{
                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 8px;
                background-color: #C1C2C5;
                color: white;
            }
            .inputContainer{
                &:hover{
                    box-shadow: 0 0 6px black;
                }
            }
            .popupContainer{
                
                background-color: #101113;
                color: white;

            }
            // background-color: #fff;
            .returnButton {
                background-color: #101113;
                color: white;
                &:hover{
                    cursor:pointer;
                    box-shadow: 0 0 5px #101113;
                }
            }
            .errorButton {
                background-color: #101113;
                color: white;
                &:hover{
                    cursor:pointer;
                    box-shadow: 0 0 5px #101113;
                }
            }
            .searchBar, .headerWrapper{
                button{
                    color: #101113;
                    }
                    .remove {
                       background-color: rgb(237, 238, 240);
                    }
            }
            
            .pageButton{
                border: 1px solid #bbced3;
                box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
                &:hover{
                    box-shadow: 0 0 5px rgba(33, 150, 243, 1);
            }
                &.active{
                    border: 2px solid #F1FCFF;
                    box-shadow: 0 0 5px rgba(33, 150, 243, 1);
                }
            }
        }
        border-radius: 12px;
    background-color: #F1FCFF;

button{
    background-color: #fff;  
}
}

.dark{
    .appContainer{
        .searchBar{
            svg{
                filter: invert(100%) sepia(1%) saturate(836%) hue-rotate(326deg) brightness(119%) contrast(100%);
            }
            .counter{
                color:black;
                background-color: white;
            }
        }
        .inputContainer{
            &:hover{
                box-shadow: 0 0 6px white;
            }
            box-shadow: rgba(255, 255, 255, 0.753) 0px 2px 8px;
        }
        .profileContainer{
            background-color: #373A40;
            box-shadow: rgba(255, 255, 255, 0.753) 0px 4px 8px;
            div{
                background-color: #373A40;
                .popupContainer{
                    background-color: #F1FCFF;
                    color: #101113;
                }
            }
        }
        background-color: #101113; 
        .returnButton {
            background-color: white;
            color:#101113;
            &:hover{
                box-shadow: 0 0 5px #F1FCFF;
                cursor:pointer;
            }
        }
        .errorButton {
            background-color: white;
            color:#101113;
            &:hover{
                box-shadow: 0 0 5px #F1FCFF;
                cursor:pointer;
            }
        }
            div, button, button_disabled, input{
            background-color: #101113; 
            color: white;
            };
            .pageButton{ background-color: #373A40;
                box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 1px;
                border:none;
                &:hover{
                        background-color: #F1FCFF;
                        color: black;
                        box-shadow: 0 0 5px #F1FCFF;
                }
                &.active{
                    border: 1px solid #F1FCFF;
                    box-shadow: 0 0 10px #F1FCFF;
                }
        }     
    }
    div{
        color: #101113;
        background-color: $dark;
        &.container:hover{
            background-color: #101113;
            div{
                background-color: #101113;
                color: #C1C2C5;
            }
        }
        &.table {
            background-color: #373A40 ;
            box-shadow: rgba(255, 255, 255, 0.644) 0px 2px 8px;
            div{
                background-color: #373A40 
            }
            
        }
    }
    .background{
        border-radius: 12px;
    }
.bookmarkAdd{
    &.active{
       svg{
        fill: gold !important;
       }
    }
}
.table{
    .bookmarkAdd{
        svg{
            fill:white;
        }
    }
}
.bookmarkContainer{
    div{
        background-color: #C1C2C5;
        color:black;
        
    }
    .RepoBookmark{
        box-shadow: rgba(255, 255, 255, 0.644) 0px 2px 8px;
    }
    .remove{
        color:black;
        background-color: #C1C2C5 ;
    }
        
}
}

