@import './scss/variables.scss';
.appContainer {
    margin:auto;
    height:100%;
    // border: 1px solid #bbced3;
    padding: 25px;
}

.light{
    height:100%; 
    div{
        color:black;
    }
        .appContainer{
            .inputContainer{
                &:hover{
                    box-shadow: 0 0 6px black;
                }
            }
            .popupContainer{
                background-color: #101113;
                color: white;

            }
            background-color: #fff;
            .returnButton {
                background-color: #101113;
                color: white;
                &:hover{
                    cursor:pointer;
                    box-shadow: 0 0 5px #101113;
                }
            }
            button{
                color: #101113;
                }
            .pageButton{
                border: 1px solid #bbced3;
                &:hover{
                    box-shadow: 0 0 5px rgba(33, 150, 243, 1);
            }
                &.active{
                    border: 2px solid #F1FCFF;
                    box-shadow: 0 0 5px rgba(33, 150, 243, 1);
                }
            }
        }
        border-radius: 12px;
    background-color: #F1FCFF;

button{
    background-color: #fff;  
}
}

.dark{
   height:100%;
    .appContainer{
        .inputContainer{
            &:hover{
                box-shadow: 0 0 6px white;
            }
        }
        .profileContainer{
            background-color: #373A40;
            div{
                background-color: #373A40;
                .popupContainer{
                    background-color: #F1FCFF;
                    color: #101113;
                }
            }
        }
        background-color: #101113; 
        .returnButton {
            background-color: white;
            color:#101113;
            &:hover{
                box-shadow: 0 0 5px #F1FCFF;
                cursor:pointer;
            }
        }
        
            div, button, button_disabled, input{
            background-color: #101113; 
            color: white;
            };
            .pageButton{ background-color: #373A40;
                border:none;
                &:hover{
                        background-color: #F1FCFF;
                        color: black;
                        box-shadow: 0 0 5px #F1FCFF;
                }
                &.active{
                    border: 1px solid #F1FCFF;
                    box-shadow: 0 0 10px #F1FCFF;
                }
        }     
    }
    div{
        color: #101113;
        background-color: $dark;
        &.container:hover{
            background-color: #101113;
            div{
                background-color: #101113;
                color: #C1C2C5;
            }
        }
        &.table {
            background-color: #373A40 ;
            div{
                background-color: #373A40 
            }
            
        }
    }
    .background{
        border-radius: 12px;
    }

}

