@import './variables.scss';
@font-face {
    font-family: 'Inconsolata';
    src: local('Inconsolata'), url(../assets/Fonts/Inconsolata.ttf) format('truetype');
  }
body {
  margin: 0;
  font-family: "Inconsolata";
  color: rgba(51, 51, 51, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body, html {
    background-color: #C1C2C5;
    height:100%;
}

#root {
    height: 100%;
}