@import '../scss/variables';

.themeButtons {
    
    button{
        z-index: 5;
        border: none;
        cursor: pointer;
        font-size: 26px;
        margin: -40px 0px -40px -10px;
    }
    .themeButtonLight{
        background-color: $dark;
    }
}