@import '../scss/variables';

.themeButtons {
   
    button{
        background-color: rgb(237, 238, 240);
        border: none;
        cursor: pointer;
        font-size: 26px;
        margin: -40px 0px -40px -10px;
        transition: transform 0.3s;
        &:hover{
            transform: scale(110%);
        }
        &:active{
            transform: scale(90%); 
        }
    }
    .themeButtonLight{
        background-color: $dark;
    }
    @media(max-width:650px) {
        display: inline-block;
        margin-top: -15px;
    }
}